* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7fb;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff4f4;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 5rem;
    border-radius: 5px;
}

.container.start .user-result {
    transform-origin: left;
    animation: userShakes 0.7s ease infinite;
}

@keyframes userShakes {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg)
    }
}


.container.start .computer-result {
    transform-origin: right;
    animation: computerShakes 0.7s ease infinite;
}

@keyframes computerShakes {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg)
    }
}



.options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    cursor: pointer;


    p {
        color: #7d2ae8;
        font-weight: bold;
        font-size: 1rem;
    }


    img {
        width: 50px;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    img:hover {
        opacity: 1;
    }

}

.results div {
    display: flex;
    gap: 7rem;
    justify-content: center;

    img {
        width: 100px;
    }
}

.user-result img {
    transform: rotate(90deg);
}

.computer-result img {
    transform: rotate(-90deg) rotateY(180deg);

}

.result-text {
    text-align: center;
    color: #7d2ae8;
    font-weight: bold;
    margin: 1.5rem 0;
    font-size: 2rem;
}